
body {
  background-color: hsl(227, 22%, 25%);
}

.container {
  border: 5px solid #228B22;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #f9f5f5;
}


header {
  background-image: url('african-pattern.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
}


nav {
  background-color: #228B22;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  color: #228B22;
  text-decoration: underline;
}


main {
  padding: 20px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  line-height: 1.5;
}


footer {
  background-color: #228B22;
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
}
