.body{
    
    background-color: hsl(24, 90%, 52%);
    font-weight: bold;
    font: size 14px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

h1{
    font-size: 50px;
    color: darkcyan;
    align-self: center;
    align-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
}
p{

    font-size: 50px;
    color: rgb(252, 253, 253);
    align-self: center;
    align-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
}    
#Message{
    color: rgb(7, 5, 6);
    margin: 25px;
    background-color: rgb(239, 231, 239);
    border-radius: 10px;
    border:none; 
}

#email{
    color: rgb(28, 16, 19);
    margin: 25px;
    background-color: rgb(249, 244, 247);
    border-radius: 10px;
    border: none; 
}

